.table {
    width: 75%;
    align-self: center;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 10px;
}

th,
td {
    border: 1px solid black;
    width: fit-content;
    text-align: center;
    padding: 5px;
}